 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
body{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color:powderblue;
}
h1{
	padding-left: 0.5em;
  	text-align: center;
  	display: inline;
  	padding-right: 0.5em;
  }
p{
	width: 60%;
	font-size: 1em;
	font-weight: ;
}
.menu-items{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 1em;
}
.item-tile{
	margin-right: 0.5em;
	height: 1200px;
	width: 33%;
	box-shadow: 1px 1px 5px 1px grey;
	display: flex;
	flex-direction: column;
}
.item-tile1{
	padding: 0.5em;
	margin-right: 0.5em;
	height: 1200px;
	width: 50%;
	box-shadow: 1px 1px 5px 1px grey;
	display: flex;
	flex-direction: column;
}
.item-tile2{
	padding: 0.5em;
	margin-right: 0.5em;
	height: 600px;
	width: 100%;
	box-shadow: 1px 1px 5px 1px grey;
	display: flex;
	flex-direction: row;
}

.item-tile3{
	margin: 0.5em;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: coloumn;
}
.item-tile4{
	margin: 0.5em;
	
	height: 100%;
	width: 50%;
	box-shadow: 1px 1px 5px 1px grey;
	display: flex;
	flex-direction: row;
}
/* For mobile phones: */
[class*="item-tile"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .item-tile {width: 100%;}
  }
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .item-tile {width: 25%;}
  }
